.searchbox-wrapper {
  flex: 1 1 28rem;
  display: flex;
  max-width: 35rem;
  color: hsl(0, 0%, 52%);
  border-radius: 0.5rem;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 8px hsla(0, 0%, 52%, 0.3);
  transition: all 400ms ease-in-out;

  &.dark {
    color: #fff;
    background-color: hsl(209, 23%, 22%);
    box-shadow: 0 2px 8px hsl(200, 15%, 8%);

    &:focus-within {
      box-shadow: 0 3px 20px hsl(200, 15%, 8%);
    }

    .search-icon {
      filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(542%)
        hue-rotate(271deg) brightness(116%) contrast(100%);
    }
  }

  &:focus-within {
    transition: all 400ms ease-in-out;
    transform: scale(1.025);
    box-shadow: 0 3px 20px hsla(0, 0%, 52%, 0.4);
  }

  .search-icon {
    flex: 2 8 auto;
    display: inline-block;
    min-width: 3rem;
    max-width: 5rem;
    background-image: url(../../icons/search.svg);
    background-repeat: no-repeat;
    background-position: center right;
  }

  .searchbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    flex: 8 2 auto;
    padding: 1rem 1rem 1rem 2rem;
    font-size: inherit;
    font-family: inherit;
    outline: none;

    &::placeholder {
      color: inherit;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }
  }
}
