.pageheader-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1.5rem;
  color: inherit;
  background-color: #fff;
  box-shadow: 0 0 5px hsla(0, 0%, 52%, 0.5);

  .page-title {
    font-weight: 800;
    cursor: pointer;
  }

  .theme-btn {
    font-weight: 600;

    &-icon {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
      vertical-align: middle;
      background-image: url(../../icons/dark-mode.svg);
      background-size: cover;
    }

    &-text {
      vertical-align: middle;
    }
  }
}
